//- views/partials/_user_menu.pug
.dropdown
  button.btn.d-flex.align-items-center.dropdown-toggle(
    type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border:none;"
  )
    span.me-3.text-muted.small.fw-medium= user.name
    .rounded-circle.bg-primary.text-white.d-flex.align-items-center.justify-content-center.shadow-sm(style="width: 38px; height: 38px;")
      span.fw-bold(style="font-size: 0.9rem;")= user.name.charAt(0).toUpperCase()
  
  ul.dropdown-menu.dropdown-menu-end.shadow
    li: h6.dropdown-header Account
    li: a.dropdown-item(href="/profile/change-password")
      i.fas.fa-key.me-2
      | Change Password
    li: hr.dropdown-divider
    li: button.dropdown-item.text-danger(onclick="handleLogout()")
      i.fas.fa-right-from-bracket.me-2
      | Logout