extends layout
block append head
        script(type='text/javascript', src='/javascripts/admin.js')
block content
    //- Dropdown Structure
    div(class="header")
       
        nav.custom-gold
          .nav-wrapper
            a.brand-logo(href="#!")
                img(src="/images/logo.png" style='width:50px')

            ul.right.hide-on-med-and-down
              li
                a(href="#") Organizations/Votes
              li
                a(href="#") Strategic Plans
             
    
    
   
    
        