include org_admin
script(type='text/javascript', src='/javascripts/departments.js')
div(class="content")
    div(class="card hd cd" id="depts-card")
            div(class="card-header")
                span Units
               
            div(class="card-body")
                table
                    tr
                        td
                            button(class='btn btn-primary' onclick="new_dept_dl()") <i class='fa fa-star'></i> New Unit
                br
                br
                div(id="depts-div")
div(class="modal " id="dept-modal" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    p(class="modal-title") Unit
                    button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                div(class="modal-body")
                        div(id="dept-div-inner")
                            
                            div(class="row mb-3")
                                label(class="col-sm-3" id="dept_lb") Unit
                                div(class="col-sm-9")
                                    input(type="text" class="form-control uppercase" id="dept" autocomplete="off")
                            div(class="row mb-3")
                                label(class="col-sm-3" id="pdid_lb") Parent Unit
                                div(class="col-sm-9")
                                    select(class="form-select dept" id="pdid")
                            div(class="row mb-3")
                                label(class="col-sm-3") Title of Head
                                div(class="col-sm-9")
                                    input(class="form-control uppercase" id="dtitle")
                            
                                        

                div(class="modal-footer")
                    button(class='btn btn-primary' onclick="add_dept()") Submit
div(class="modal " id="dept-users-modal" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1")
        div(class="modal-dialog modal-lg")
            div(class="modal-content")
                div(class="modal-header")
                    p(class="modal-title") Department users
                    button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                div(class="modal-body")
                        div(id="dept-users-div")
                        br
                        div(id='')
                            table(style='width:100%')
                                tr
                                    td

                                        input(type="text" class="form-control" id="dept-user-search-name" placeholder='Email or name')
                                    td
                                        button(class='btn btn-primary bt-sm' onclick="get_users()") <i class='fa fa-search'></i> Search
                        
                        br
                        
                        div(id='dept-users-search-div')
                            div(style="float:right;margin-top:10px;padding-right:10px")
                                table(style='justify-align:center')
                                    tr
                                        td(class="hd" id="search-users-prev" )
                                            a(href="#" onclick="get_users('previous')") &larr; Prev
                                        
                                        td(style="padding-left:5px;padding-right:5px" id="search-users-os")
                                    
                                        td(class="hd"  id="search-users-next")
                                            a(href="#" onclick="get_users('next')") &rarr; Next
                            div(id="dept-user-search-results")

                div(class="modal-footer hd" id="dept-users-footer")
                        button(class='btn btn-primary' onclick="add_dept_user()") Add User
                        
