extends layout
block append head
    script(type='text/javascript', src='/javascripts/index.js')
block content
    
    .container
        
        div(class="one")
            h1(style='color:white') Strategic Plan Platform
        .platform-tagline(style='color:white')
         p powered by NPA
        .row
            .col.s12.m6.offset-m3
              .card.white.z-depth-3
                .card-content
                  span.card-title.center.blue-text.text-darken-2
                    i.material-icons account_circle
                    |  Sign In
                  form
                    .input-field
                      i.material-icons.prefix email
                      input(type="email" name="email" required id="login-username")
                      label(for="login-username") Email
                    .input-field
                      i.material-icons.prefix lock
                      input(type="password" name="password" required id="login-password")
                      label(for="login-password") Password
                    .center
                      button.btn.waves-effect.waves-light.blue(type="button" onclick="login()")
                        | Sign In 
                        i.material-icons.right send
                .card-action.center
                 
                  a(href="/forgot-password") Forgot Password?
    
    // Materialize JS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
