doctype html
html(lang="en")
  block head
    meta(meta charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="/javascripts/jquery.js")
    script(src="/libs/tinymce/tinymce.min.js" referrerpolicy="origin")
    link(href="/libs/materialize/icon.css", rel="stylesheet")
    // Materialize CSS
    link(href="/libs/materialize/materialize.min.css", rel="stylesheet")
    link( type="image/x-icon" rel="shortcut icon" href="/images/logo.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/headings.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    
    script(src="/libs/materialize/materialize.min.js")
    script(src="/javascripts/gen.js")
    script(src="/javascripts/gen_table.js")
    
    
    

    title=title
    
  body
        block content