extends layout
block append head
        script(type='text/javascript', src='/javascripts/npa.js')
block content
    div(class="alert alert-danger err-msg hd" style="border-radius:0px;z-index:100000;position:fixed;top:60;width:100%")
        p(class="err-content")
    div(class="alert alert-success  success-msg hd" style="z-index:100000;position:fixed;top:60;width:100%")
        p(class="success-content")
    
    div(id="header")
        nav.custom-gold
          .nav-wrapper
            a.brand-logo(href="#!")
                img(src="/images/logo.png" style='width:50px')

            ul.right.hide-on-med-and-down
              li
                a(href="/plans") Strategic Plans
