include admin
script(type='text/javascript', src='/javascripts/admin-roles.js')
div(class="content")
    div(class="card cd" id="forms-card")
            div(class="card-body")
                button(class='btn btn-primary' onclick="add_admin_dl()") Add Admin
                p
                div(id="admins-div")
    

div(class="modal" id="admin-modal" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1")
        div(class="modal-dialog modal-lg modal-dialog-scrollable")
            div(class="modal-content")
                div(class="modal-header")
                    p(class="modal-title") New Admin
                    button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                div(class="modal-body")
                    
                       
                    table(style="width:100%")
                        tr
                            td
                                select(class="form-select" id="role")
                                    option
                                    option(value="hr") HR Admin
                                    option(value="admin") Super Admin
                                    option(value="principal") Principal
                                    option(value="bo") Bursar's Office Admin
                                    option(value="rbsadmin") RBS Admin
                  
                            td

                                input(type="text" class="form-control" id="users-search-name" placeholder='Email or name')
                            td
                                button(class='btn btn-primary bt-sm' onclick="get_users()") <i class='fa fa-search'></i> Search
                            
                    div(id="dates-div")
                            table
                                tr
                                    td Starts
                                    td Ends
                                tr
                                    td
                                        table
                                            tr
                                                td

                                                    select(class="cs-day form-select" id="start_day")
                                                
                                                td
                                                    select(class="cs-month form-select" id="start_month")
                                                td(style="width:92px")
                                                    input(type="number" min=1 class="form-control" id="start_year")
                                    td
                                        table
                                            tr
                                                td
                                                   
                                                    select(class="cs-day form-select" id="end_day")
                                                
                                                td
                                                    
                                                    select(class="cs-month form-select" id="end_month")
                                                td(style="width:92px")
                                                    input(type="number" min=1 class="form-control" id="end_year")
                    div(id='users-search-div')
                                div(style="float:right;margin-top:10px;padding-right:10px")
                                    table(style='justify-align:center')
                                        tr
                                            td(class="hd" id="search-users-prev" )
                                                a(href="#" onclick="get_users('previous')") &larr; Prev
                                            
                                            td(style="padding-left:5px;padding-right:5px" id="search-users-os")
                                        
                                            td(class="hd"  id="search-users-next")
                                                a(href="#" onclick="get_users('next')") &rarr; Next
                                div(id="users-search-results")

                div(class="modal-footer hd" id="users-footer")
                        button(class='btn btn-primary' onclick="add_admin()") Add User




div(class="modal" id="rights-modal" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    p(class="modal-title") Rights
                    button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                div(class="modal-body")
                    h5 Rights List
                    div(id="rights-list-div")
                div(class="modal-header")
                    button(class='btn btn-primary' id="update-rights-btn" onclick="update_rights()") Update List