include supervisor
script(type='text/javascript', src='/javascripts/supervisor-tasks.js')
div(class="content")
        div(class="card cd" id="envelopes-card")
                    div(class="card-header")
                        span Task Groups
                        button(class='btn btn-primary' onclick="get_envelopes_def('Pending Supervisor Review')") <i class='fa fa-hourglass'></i> Pending
                        button(class='btn btn-primary' onclick="get_envelopes_def('Reviewed')") <i class='fa fa-check'></i> Reviewed

                    div(class="card-body")
                        br
                        
                        p
                        div(id="envelopes-div")
        div(class="card cd hd" id="tasks-card")
                    div(class="card-header")
                        table
                            tr
                                td
                                    button(class='btn btn-primary' onclick="get_envelopes()") <i class='fa fa-arrow-left'></i> Back
                                td
                                    span(id="envelope-hdr") Task List
                                    br
                                    span(id="envelope-status")

                    div(class="card-body")
                        br
                        button(class="btn btn-primary" onclick="task_dl()") <i class='fa fa-plus'></i> Add Task
                        button(class="btn btn-primary" onclick="complete_dl()" id="submit-btn") <i class='fa fa-check'></i>Complete Review
                        p
                        div(id="tasks-div")


div(class="modal" id="task-modal" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1" )
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title") Task
                    button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                div(class="modal-body")
                    
                       
                        div(class="row mb-3")
                            label(class="col-sm-4") Task
                            div(class="col-sm-8")
                                
                                input(type="text" class="form-control" id="task")
                       
                                
                div(class="modal-footer")
                       
                        button(class="btn btn-primary" onclick="add_task()") Submit
div(class="modal" id="complete-modal" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1" )
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title") Review
                    button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                div(class="modal-body")
                    
                       
                        div(class="row mb-3")
                            label(class="col-sm-4") Remark
                            div(class="col-sm-8")
                                
                                input(type="text" class="form-control" id="remark")
                       
                                
                div(class="modal-footer")
                       
                        button(class="btn btn-primary" onclick="submit_envelope()") Submit