include admin
script(src="/javascripts/users.js?vs="+vs)
div(class="content")
    div(class="card cd" id="user-card")
                div(class="card-header")
                    span Users
                div(class="card-body")
                    table
                                tr
                                    td
                                        button(class="btn btn-primary" onclick="add_user_dl()") <i class='fa fa-user-plus'></i> Add user
                                    td
                                        span &nbsp
                                        button(class="btn btn-primary" onclick="get_users('reset')") <i class='fa fa-hourglass-o'></i> Reset
                                        span &nbsp
                                    td
                                        div(class="dropdown")
                                                
                                                    button(class="btn btn-primary dropdown-toggle" data-bs-toggle='dropdown' aria-expanded='false')
                                                        span Search
                                                        i(class="fa fa-search desktop-mobi")
                                                       
                                                    ul(class="dropdown-menu" id="dropdown-menu" role="menu")
                                                        div(class="dropdown-content")
                                                            
                                                            a(class="dropdown-item" href="#" onclick="search_user_dl('by-name')")
                                                                i(class="fa fa-address-card")
                                                                span(class="pad") &nbsp
                                                                span By name or email
                                                            
                                                            
                    div(style="float:right;margin-top:10px;padding-right:10px")
                        table(style='justify-align:center')
                            tr
                                td(class="hd" id="users-prev" )
                                    a(href="#" onclick="get_users('previous')") &larr; Prev
                                
                                td(style="padding-left:5px;padding-right:5px" id="users-os")
                            
                                td(class="hd"  id="users-next")
                                    a(href="#" onclick="get_users('next')") &rarr; Next
                    div(id="users-div")
div(class="hd" id="sign-file-div")
        input(type="file" id="user-sign")
div(class="modal" id="user-modal" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1" )
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title") User
                    button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                div(class="modal-body")
                    
                        div(class="row mb-3")
                            label(class="col-sm-4") Name of User
                            div(class="col-sm-8")
                                input(type="text" class="form-control uppercase" id="name")
                        div(class="row mb-3")
                            label(class="col-sm-4") Email
                            div(class="col-sm-8")
                                input(type="text" class="form-control" id="email")
                        div(class="row mb-3" )
                            label(class="col-sm-4") 
                            div(class="col-sm-8")
                                p(id="reset-link-div") Send password reset link
                                    span(style="padding-left:4px")
                                        input(type="checkbox" id="send-link")
                               
                div(class="modal-footer")
                        button(class="btn btn-primary" onclick="add_user()") Submit


div(class="modal" id="search-user-modal" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1" )
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title") Search User
                    button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                div(class="modal-body")
                        div(class="row mb-3")
                            label(class="col-sm-3") Name or email
                            div(class="col-sm-9")
                                input(type="text" class="form-control" id="search-name")
                div(class="modal-footer")
                        button(class="btn btn-primary" onclick="get_users('name')") Search
div(class="modal" id="search-user-priv-modal" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1" )
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title") Search by User Category
                    button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                div(class="modal-body")
                        div(class="row mb-3")
                            label(class="col-sm-3") User category
                            div(class="col-sm-9")
                                
                                select(type="text" class="form-select" id="search-priv")
                                    option(value="Reviewer") Reviewer
                                    option(value="Author") Author
                                    option(value="Admin") Admin
                                    option(value="Dean") Dean
                div(class="modal-footer")
                        button(class="btn btn-primary" onclick="get_users()") Search