#addIndicatorModal.modal.fade(tabindex="-1" aria-hidden="true")
  .modal-dialog.modal-xl
    .modal-content
      .modal-header.bg-primary.text-white
        h5.modal-title Link Outcome Indicator & Set Targets
        button.btn-close.btn-close-white(type="button" data-bs-dismiss="modal")
      .modal-body
        form#indicatorForm(action="/mda/plans/indicators/save" method="POST")
          input#modal_oc_id(type="hidden" name="spOutcomeId")
          
          .row
            .col-md-12.mb-3
              label.form-label Select Indicator from Library
              select#library_indicator_select.form-select(name="outcomeIndicatorId" required)
                option(value="") -- Select --
            
            .col-md-4.mb-3
              label.form-label Baseline Value
              input.form-control(type="text" name="baselineValue" placeholder="e.g. 10%")

          hr
          h6.fw-bold Annual Targets
          .row
            each year in [2025, 2026, 2027, 2028, 2029]
              .col
                label.small.form-label= year
                input.form-control.form-control-sm(type="text" name=`targets[${year}]` placeholder="Target")
                
      .modal-footer
        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
        button.btn.btn-primary(type="submit" form="indicatorForm") Save Indicator