#addIntermediateModal.modal.fade(tabindex="-1")
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title Add Intermediate Outcome
        button.btn-close(data-bs-dismiss="modal")
      .modal-body
        form#intermediateForm
          //- This is the vital link
          input#modal_parent_outcome_id(type="hidden" name="spOutcomeId")
          input(type="hidden" name="planId" value=plan.id)
          
          .mb-3
            label.form-label Select from Library
            select#libraryIntSelect.form-select(name="libraryIntId" required)
                option(value="") -- Select Intermediate Outcome --
    
      .modal-footer
        button.btn.btn-secondary(data-bs-dismiss="modal") Cancel
        button.btn.btn-primary(type="submit" form="intermediateForm") Save Selection